.institutename{
  color: aliceblue;
  margin-left: 50px;
  font-size: 20px solid;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}
.image{
  margin-left: 30px;
  width: 150px;
  height: 40px;
}